#root {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.topHalf,
.bottomHalf {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: space-between;
}

.gameSetupDashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 25%;
  height: 50%;
}

.gameConsole {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 40%;
  height: 50%;
  margin-right: 5em
}


.PokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: lightgray;
  width: 14vw;
  height: 50vh;
}

.cardTopHalf {
  width: 75%;
  height: 60%;
  border: 1px solid black;
  padding: 1em;
  margin-top: 1em;
}

.cardBottomHalf {
  margin-top: 1em;
  width: 100%;
  border: 1px solid black;
}


.pokemonTypeContainer,
.pokemonTypeDescription{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pokemonTypeContainer {
  margin-top: 1em;
}

.typeSymbol {
  width: 4em;
  height: 4em;
}

