html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* This prevents scrolling */
  margin: 0 auto; /* Centers your app horizontally if less than the width of the viewport */
  text-align: center;
  padding: 1em; /* This padding could cause overflow if your content is too large */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  background-color:  rgb(224, 245, 255);
}

.battlerText {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align to the start of the main-axis */
  justify-content: center;
}

.battlerText ol, .battlerText ul {
  width: 100%; /* Set the width of the list to take the full container width */
  padding: 0; /* Reset padding to ensure alignment to the edge if needed */
  list-style-position: inside; /* Ensures markers are inside the content flow */
}

.battlerText ol li, .battlerText ul li {
  text-align: left; /* Align text to the left */
  display: block; /* Display as block instead of flex to fill the container */
  margin-left: 0; /* Reset any margin to align with the start of the list */
}

.battlerText ol {
  list-style-type: decimal; /* This will make sure that the list is numbered */
  list-style-position: outside; /* This is usually the default value */
  margin-left: 20px; /* Adjust as needed to give space for numbers */
}

.battlerText ul {
  list-style-type: disc; /* Default for unordered lists */
  list-style-position: outside; /* To keep bullets outside the content flow */
  margin-left: 20px; /* Adjust as needed to give space for bullets */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: fixed;
  background: white;
  width: 300px;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 20px;
  border-radius: 15px;
}

/* Style for the button that triggers the modal */
button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1em;
}

button:focus {
  outline: none;
}



.topHalf,
.bottomHalf {
  display: flex;
  width: 100vw;
  height: 50vh;
}

.topHalf {
  justify-content: space-between;
}

.bottomHalf {
  align-items: center;
  justify-content: center;
}

.gameSetupDashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 25%;
  height: 80%;
  margin-left: 5.2em;
  margin-top: 2.5em;
  color: rgb(12, 48, 87);
  font-size: larger;
  font-weight: 700;
}

.gameSetupDashboard > label{
  margin-left: 1.5em;
}

.gameSetupDashboard > input,
.gameSetupDashboard > select{
  margin-left: 2em;
}

.settingTitle {
  display: flex;
  width: 100%;
  margin-left: 1em;
}


.gameConsole {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 40%;
  height: 80%;
  margin-right: 5em;
  margin-top: 2.5em;
  color: rgb(12, 48, 87);
  font-size: larger;
  font-weight: 700;
}

/*  rgb(211, 243, 253) 
rgb(12, 48, 87);*/

.gcTopHalf {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gcBottomHalf {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.currentPokemon {
  margin-right: 4em;
  margin-top: -1.5em;
}


.PokemonCard.chosen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: lightgray;
  width: 15vw;
  height: 40vh;
  pointer-events: none; /* Prevents all click, state and hover effects */
  cursor: default; /* Resets the cursor to the default */
  margin-right: 1.5em;
  background-color: rgb(249, 173, 133);
  color: white;
}

.PokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: lightgray;
  width: 15vw;
  height: 40vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s, transform 0.2s; /* Smooth transition for box-shadow and transform */
  cursor: pointer; /* Changes the cursor to indicate that the item is clickable */
  /* background-color: rgb(150, 204, 229); */
  background-color: rgb(105, 174, 209);
  color: white;
}

.PokemonCard.Shadow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid purple;
  background-color: lightgray;
  width: 15vw;
  height: 40vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s, transform 0.2s; /* Smooth transition for box-shadow and transform */
  cursor: pointer; /* Changes the cursor to indicate that the item is clickable */
  /* background-color: rgb(150, 204, 229); */
  background-color: rgb(105, 174, 209);
  color: white;
}


.PokemonCard:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow for pressed effect */
  transform: translateY(2px); /* Moves the card down slightly when pressed */
}

.PokemonCard:hover {
  box-shadow: 0 6px 12px rgba(12, 48, 87, 1); /* Slightly larger shadow for hover effect */
  color: rgb(170, 252, 170);
}

.PokemonCard:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow for pressed effect */
  transform: translateY(2px); /* Moves the card down slightly when pressed */
}

.PokemonCard.Shadow:hover {
  box-shadow: 0 6px 12px rgba(12, 48, 87, 1); /* Slightly larger shadow for hover effect */
  color: rgb(122, 50, 205);
}

.cardTitle {
  margin-top: -0.3em;
}


.cardTopHalf {
  width: 75%;
  height: 50%;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.425);
  padding: 1em;
  margin-top: 1.4em;
}

.pokemonImageContainer {
  height: 100%;
  width: 100%;
  /* background-color: aqua; */
  margin-top: -1em;
}

.defaultImageContainer {
  margin-right: 5em;
  margin-bottom: -1em;
}

.shinyImageContainer {
  margin-left: 5em;
}


.defaultImage,
.shinyImage {
  height: 6em;
  width: 6em;
}




.cardBottomHalf {
  margin-top: 1em;
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}


.pokemonTypeContainer,
.pokemonTypeDescription{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pokemonTypeContainer {
  margin-top: -1em;
}

.pokemonTypeDescription{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: larger;
  font-weight: 600;
}


.pokemonTypeContainer {
  margin-top: 1em;
  margin-bottom: -1em;
}

.typeSymbol {
  width: 3em;
  height: 3em;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  margin-bottom: 2em;
}